 /* --------- BASE --------- */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   scroll-behavior: smooth;
 }

 body {
   background-color: #0a0a0a;
   color: #eaeaea;
   overflow-x: hidden;
   overflow-y: auto;
 }

 /* --------- HEADER --------- */
 header {
   position: fixed;
   top: 0;
   width: 100%;
   background: rgba(15, 15, 15, 0.9);
   border-bottom: 1px solid #222;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 6rem;
   z-index: 100;
   backdrop-filter: blur(6px);
 }

 .logo {
   color: #5682B1;
   font-size: 1.5rem;
   font-weight: 600;
   text-decoration: none;
 }

 nav a {
   color: #ccc;
   margin-left: 1.2rem;
   text-decoration: none;
   transition: color 0.3s;
 }

 nav a:hover,
 nav a.active {
   color: #739EC9;
   font-weight: 600;
 }

 /* --------- SECTIONS --------- */
 section {
   min-height: 100vh;
   padding: 8rem 2rem 4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;

 }

 h2 {
   font-size: 3rem;
   margin-bottom: 0.5rem;
   color: #fff;
 }

 p {
   color: #aaa;
   max-width: 700px;
   margin-bottom: 1.5rem;
 }

 /* --------- HOME / MODEL VIEWER --------- */
 #home model-viewer {
   width: 100%;
   height: 70vh;
   background-color: #0a0a0a;
   border-radius: 10px;
   object-fit: contain;
 }

 /* --------- SOBRE --------- */
#sobre .sobre-box {
    background-color: #151515;
    padding: 2rem;
    border-radius: 15px;
    color: #eaeaea;
    margin-top: 1rem;
}

.sobre-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.sobre-text {
    flex: 1 1 300px;
    text-align: justify;
    line-height: 1.7;
}

.sobre-image {
    flex: 0 0 150px;
    cursor: pointer; /* Indica que é clicável */
}

.sobre-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #7a7a7a;
    transition: transform 0.3s;
}

.sobre-image img:hover {
    transform: scale(1.05); /* Pequeno efeito ao passar o mouse */
}

 /* --------- ATIVIDADES --------- */
 .card-container {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   justify-content: center;
 }

 .card {
   background-color: #2A2A2A;
   border-radius: 20px;
   width: 320px;
   overflow: hidden;
   transition: 0.3s;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
 }
 .card:hover {
   transform: scale(1.05);  
 }

 .card img {
   width: 100%;
   height: 150px;
   overflow: visible;
   border-bottom: 3px solid #333;
 }

 .card-content {
   padding: 20px;
   text-align: left;
 }

 .card-content h3 {
   margin-bottom: 10px;
   font-size: 1.2em;
   color: #fff;
 }

 .card-content p {
   font-size: 0.95em;
   color: #ccc;
   margin-bottom: 15px;
 }

 .btn-site {
   background: #fff;
   color: #121212;
   padding: 8px 14px;
   border-radius: 8px;
   text-decoration: none;
   font-weight: 600;
   transition: 0.3s;
 }

 .btn-site:hover {
   background: #ccc;
 }

/* --------- CONTATO --------- */
  .contato-box {
    background-color: #151515;
    padding: 3rem;
    border-radius: 15px;
    color: #eaeaea;
    text-align: justify;
    line-height: 1.7;
    margin-top: 1rem;
  }
  .social-links{

   padding: 1rem 0;
   display: flex;
   justify-content: center;
   gap: 1.5rem;
  }
  .social-links img{
    width: 22px;
   height: 22px;
   filter: invert(1);
   opacity: 0.7;
   transition: opacity 0.3s, transform 0.3s;
  }
  .social-links img:hover {
   opacity: 1;
   transform: scale(1.1);
  }
  .dowload-btn a{
    text-decoration: none;
    color: #eaeaea;
  }

 /* --------- FOOTER --------- */
 footer {
   background: #0f0f0f;
   padding: 1rem 0;
   border-top: 1px solid #222;
   display: flex;
   justify-content: center;
   gap: 1.5rem;
 }

 footer img {
   width: 22px;
   height: 22px;
   filter: invert(1);
   opacity: 0.7;
   transition: opacity 0.3s, transform 0.3s;
 }

 footer img:hover {
   opacity: 1;
   transform: scale(1.1);
 }

 /* --------- RESPONSIVIDADE --------- */
@media (max-width: 1024px) {
  header {
    padding: 1rem 3rem;
  }
  .card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
  }

  nav {
    justify-content: center;
    gap: 1rem;
  }

  section {
    padding-top: 7rem;
  }

  #home model-viewer {
    height: 50vh;
  }

  .card {
    width: 80%;
  }

  #sobre .sobre-box,
  .contato-box {
    padding: 2rem;
  }
  .contato-box{
    text-align: left;
  }
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0.5rem 1rem;
  }

  nav a {
    margin-left: 0.5rem;
    font-size: 0.9rem;
  }

  #home model-viewer {
    height: 40vh;
  }

  .card {
    width: 100%;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.85rem;
  }
}