h1{
    text-align: center;
    font-family: Consolas, "Courier New", monospace;
}
.conteudo-calculadora{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background-color: gray;
    border-radius: 15px;
}
.visor-calculadora{
    width: 250px;
    height: 50px;
    background-color: rgb(204, 204, 204);
    position:absolute;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 5px;
}
.grid-btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position:absolute;
    margin-top: 100px;
    margin-left: 35px;
    gap: 10px;
}
button{
    font-size: large;
    background-color: white;
    height: 60px;
    width: 50px;
    border-radius: 5px;
    border:none;
    transition: 0.3;
}
button:hover{
    transform: scale(1.05);
}
#visor{
    text-align: right;
    margin-right: 10px;
    font-size: 30px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}