.conteudo{
    margin: 0 auto;
    width: 300px;
    height: 400px;
    background-color: gray;
    padding: 5px;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 45px;
    border-radius: 5px;
    border:none;
}
button{
    height: 30px;
    width: 100px;
    margin-left: 90px;
    border-radius: 5px;
    border:none;
    background-color: rgba(0, 91, 175, 0.644);
    color:white;
}
.resultado{
    height: 60px;
    width: 100px;
    background-color: white;
    margin-left: 90px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}