body {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }

  header.navbar {
    background-color: #ff0000;
    padding: 10px 20px;
    text-align: center;
  }

  .fotonavbr {
    width: 25%;
    height: 12,5%;
    position: absolute;
    margin-top: -85px;
    margin-left: -400px;
  }

  details {
    position: relative; 
    display: inline-block;
    margin: 0 15px;
  }

  .navbar a,summary {
    list-style: none;
    cursor: pointer;
    color: white;
    padding: 14px 16px;
    user-select: none;
    outline: none;
    text-decoration: none;
  }

  
  summary::-webkit-details-marker {
    display: none;
  }
  summary::marker {
    display: none;
  }

  summary::after {
    content: "▼";
    margin-left: 8px;
    font-size: 0.7em;
    vertical-align: middle;
    transition: transform 0.3s ease;
    display: inline-block;
  }
  details[open] summary::after {
    transform: rotate(180deg);
  }

  .dropdown-content {
    position: absolute;
    top: 100%;   
    left: 0;     
    background-color: #cc0000;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 5px 0;
    width: max-content;
    z-index: 1000;
  }

  .dropdown-content a {
    display: block;
    color: white;
    padding: 6px 20px;
    text-decoration: none;
    font-size: 14px;
  }
  .dropdown-content a:hover {
    background-color: #aa0000;
  }
 .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  position: relative;
}

.card input.toggle {
  display: none;
}

.card-content {
  display: block;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.card-content:hover {
  transform: scale(1.02);
}


.titulo-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.titulo {
  font-size: 18px;
  margin: 0;
}

.main-img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.nome {
  font-size: 15px;
  color: #666;
  margin: 8px 0;
  
}

.info-oculta {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.toggle:checked + .card-content .info-oculta {
  max-height: 150px;
}
ul{
    text-align: left;
}