
body {
        margin: 0;
        font-family: Arial, sans-serif;
    }
h3{
    text-decoration: none;
}
.dado{
    line-height: 0.2;
}
.dados{
    line-height: 0.6;
}
.formacao, .habilidades, .idiomas{
    line-height: 0.6;
}
    .content {
      padding: 10px; 
      flex: 1;
      text-align: justify;
        width: 50%;
      margin: 0 auto;
      font-size: 17px;
       background-color: #f9f9f9;        
      border-radius: 10px;            
      box-shadow: 0 10px 10px rgba(0,0,0,0.2); 
      width: 630px;     
      margin-top: 10px;       
    
    }
